{% extends 'base.html.twig' %}

{% block title %}
    Fiche du livre {{ livre.titre }} - La librairie
{% endblock %}

{% block body %}
    <h1 class="my-3">
        Fiche du livre {{ '"' ~ livre.titre ~ '" de ' ~ livre.auteur }}
    </h1>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ asset('images/livres/' ~ livre.imageName) }}" alt="{{ livre.titre  }}" class="img-fluid">
            </div>
            <div class="col-md-9">
                <h2>{{ livre.titre }}</h2>
                <div class="my-2">
                    {{ livre.description|raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
